<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Dastan</title>
  <script src="https://use.typekit.net/lkh0ago.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="icon" href="../ruby.png" type="image/x-icon" />
  
      <link rel="stylesheet" href="css/style2.css">
    <style>
    
        .hwt-content {
            width: 200px;
            height: 100px;
            padding: 20px;
            border: 1px solid #fff;
            text-align: left;
            font-size: 0.8rem;
            line-height: 1.5;
        }
        
        .hwt-content {
            border: 1px solid;
            background: none transparent !important;
        }
        </style>
        <style>
            .menuicon{
              padding:0px;
              position: absolute;;
              text-align:center;
              display: block;
              top: 0%;
            }
          </style>
  
</head>

<body>
  <img onclick="location.href = '../menu/index.html';" class="menuicon" height="100px" width="100px" src="../ruby.png" alt="">
  <div id='settings' ontouchstart>
  <input checked class='nav' name='nav' type='radio'>
  <span class='nav'>Create a Card</span>
  <main class='content'>
    <section id='profile'>
      <form>
        <ul>
          <li class='large padding avatar'>
            <img height="60px" width="60px">
            <div>
              <fieldset class='material-button'>
                <div>
                  <label>Profile Picture</label>
                  <br><br>
                  <button>Select File</button>
                </div>
              </fieldset>
            </div>
          </li>
          <li>
            <fieldset class='material'>
              <div>
                <input required type='text' value=''>
                <label>Name</label>
                <hr>
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class='material'>
              <div>
                <input required type='text'>
                <label>Location</label>
                <hr>
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class='material'>
              <div>
                <input required type='text'>
                <label>Title</label>
                <hr>
              </div>
            </fieldset>
          </li>
          <li>
                <textarea spellcheck="false" class="hwt-input hwt-content">Type in your biography
                </textarea>
          </li>   
          <li class='large padding'>
            <fieldset class='material-button center'>
              <div>
                <input class='save' type='submit' value='Save'>
              </div>
            </fieldset>
          </li>
        </ul>
      </form>
    </section>
  </main>
</div>
  
  

    <script  src="js/settings.js"></script>




</body>

</html>
