<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Neptune</title>
  <script src="https://use.typekit.net/lkh0ago.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="icon" href="../ruby.png" type="image/x-icon" />
    <link rel="stylesheet" href="../css/style2.css">
    <link rel="stylesheet" href="../css/all.css">
    <link rel='stylesheet' href='https://storage.googleapis.com/code.getmdl.io/1.0.2/material.blue_grey-red.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <style>
    
        .hwt-content {
            color: white;
            width: 200px;
            height: 100px;
            padding: 20px;
            border: 1px solid #fff;
            text-align: left;
            font-size: 0.8rem;
            line-height: 1.5;
        }
        
        .hwt-content {
            border: 1px solid;
            background: none transparent !important;
        }
        </style>
        <style>
            .menuicon{
              padding:0px;
              position: absolute;;
              text-align:center;
              display: block;
              top: 0%;
            }

          </style>
  
</head>

<body>
  <fieldset class='material-button logout'>
    <div>
      <input class='save' onclick="location.href = '/auth/logout/';" style="background-color: #f5515f;" type='submit' value='log out'>
    </div>
  </fieldset>
  <img onclick="location.href = '../../menu/';" class="menuicon" height="100px" width="100px" src="../ruby.png" alt="">
  <div id='settings' ontouchstart>
  <input checked class='nav' name='nav' type='radio'>
  <span class='nav'>Create a Card</span>
  <main class='content'>
    <section id='profile'>
      <form action="/user/edit" method="POST">
        <input id="profilepichidden" type="hidden" name="profilepic" value="">
        <input id="resumehidden" type="hidden" name="resume" value="">
        <ul>
          <li class='large padding avatar'>
            <fieldset class='material'>
              <label>Profile Picture</label>
            </fieldset>
            <div class="file_input_div">
              <div class="file_input">
                <label class="image_input_button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                  <i class="material-icons">file_upload</i>
                  <input id="profilepicinput" accept="image/*" class="none" type="file" data-url="/upload"/>
                </label>
              </div>
            </div>
            <fieldset class='material'>
              <label>Resume</label>
            </fieldset>
            <div class="file_input_div">
              <div class="file_input">
                <label class="image_input_button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                  <i class="material-icons">file_upload</i>
                  <input id="resumeinput" class="none" type="file" data-url="/upload"//>
                </label>
              </div>
            </div>
          </li>
          <li>
            <fieldset class='material'>
              <div>
                <input required type='text' name="name">
                <label>Name</label>
                <hr>
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class='material'>
              <div>
                <input required type='text' name="location">
                <label>Location</label>
                <hr>
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class='material'>
              <div>
                <input required type='text' name="title">
                <label>Title</label>
                <hr>
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class='material'>
              <div>
                <input type='text' name="website">
                <label>Website</label>
                <hr>
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class='material'>
              <div>
                <input required type='text' name="linkedin">
                <label>Linkedin</label>
                <hr>
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class="material">
              <div>
                  <input type="color" name="leftcolor" value="#f5515f" />
                  <label>Pick Left Gradient Color</label>
                  <hr>
                  </div>
            </fieldset>
          </li>
          <li>
            <fieldset class="material">
              <div>
                  <input type="color" name="rightcolor" value="#05abe0" />
                  <label>Pick Right Gradient Color</label>
                  <hr>
                  </div>
            </fieldset>
          </li>
          <li>
            <fieldset class="material">
              <div>
                  <input type="color" name="cardcolor" value="" />
                  <label>Pick Card Color</label>
                  <hr>
                  </div>
            </fieldset>
          </li>
          <li>
                <textarea required name="bio" spellcheck="false" class="hwt-input hwt-content">Type in your biography
                </textarea>
          </li>   
          <li class='large padding'>
            <fieldset class='material-button center'>
              <% if (message) { %>
                <p class="error"><%=message%></p>
              <% } %>
              <div>
                <input class='save' type='submit' value='Save'>
              </div>            
            </fieldset>
          </li>
        </ul>
      </form>
    </section>
  </main>
</div>
  
  

    <script  src="../js/settings.js"></script>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="../js/jquery.ui.widget.js"></script>
  <script src="../js/jquery.iframe-transport.js"></script>
  <script src="../js/jquery.fileupload.js"></script>
  <script>
      $(document).ready(function(){
          $('#profilepicinput').fileupload({
              dataType: 'json',
              done: function(e, data){
                  $.each(data.result.files, function(index, file){
                    console.log(file['name']);
                    document.getElementById('profilepichidden').value = file['name'];
                    console.log(document.getElementById('profilepichidden').value);
                  });
              }
          });
          $('#resumeinput').fileupload({
              dataType: 'json',
              done: function(e, data){
                  $.each(data.result.files, function(index, file){
                    console.log(file['name']);
                    document.getElementById('resumehidden').value = file['name'];
                    console.log(document.getElementById('resumehidden').value);
                  });
              }
          });
      });
  </script>


</body>

</html>
