<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Shuffle</title>
  <script src="https://use.typekit.net/lkh0ago.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="icon" href="../ruby.png" type="image/x-icon" />
  
      <link rel="stylesheet" href="css/index.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .avatar {
            background: url("Alamut.jpg") no-repeat top center/cover;
        }  
    </style>
  
</head>

<body>

  <main class='profile' ontouchstart>
  <div class='background'></div>
  <aside class='avatar'></aside>
  <section class='info'>
    <h1>Janus</h1>
    <h2 style="max-width: 80%">Shuffle is a Virtual Business Card <br> where you can connect to other people</h2>
    <h2 onclick="location.href = '../settings/loginsignup.html';">+ Sign Up</h2><a onclick="location.href = '../settings/loginsignup.html';" class='follow'>+ Log In</a>
    <ul>
      <li>
        <a class='link portfolio' href='' target='_blank'>
          <i class="material-icons" style="color: white;">cloud</i></div>
        </a>
      </li>
      <li>
        <a class='link codepen' href='h' target='_blank'>
          <div class="chat-icon"><i class="material-icons" style="color: white;">search</i></div>
        </a>
      </li>
      <li>
        <a class='link github' href='' target='_blank'>
          <div class="email-icon"><i class="material-icons" style="color: white;">account_circle</i></div>
        </a>
      </li>
    </ul>
    <img src="ruby.png" width="150px" height="150px">
  </section>
</main>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
