/*--------------------
Body
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  /*background: radial-gradient(ellipse farthest-corner at center top, #ffee75, #ff8930);
  */
  background: linear-gradient(135deg, #f5515f 0%, #05abe0 100%);
  color: #8b9095;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

/*--------------------
App
--------------------*/
.app {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 640px;
  height: 390px;
  /* background: transparent; */
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}
.app h2 {
  color: #fff;
  display: inline-block;
  font-size: 17px;
  box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.1);
  padding: 20px 28px 0;
  margin: -6px 0 0 0;
}

/*--------------------
Header
--------------------*/
header {
  padding: 30px;
  position: relative;
  height: 70px;
}
header h1 {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #1c222b;
}
header h1 strong {
  background: #05abe0;
  color: #fff;
  display: inline-block;
  border-radius: 30px;
  padding: 6px;
  font-size: 83%;
  line-height: 1;
  position: relative;
  top: -1px;
  left: 2px;
}
header nav {
  cursor: pointer;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 28px;
  left: 28px;
}
header nav::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 5px 0 #ffffff, 0 10px 0 #ffffff;
}
header .search {
  position: absolute;
  top: 40%;
  left: 95%;
  cursor: pointer;
}
header .search svg {
  width: 20px;
  height: 20px;
}

/*--------------------
Movies
--------------------*/
.movies {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  padding: 8px 18px;
}
.movies .movie {
  padding: 10px;
  cursor: pointer;
}
.movies .movie .poster {
  margin-bottom: 6px;
  border-radius: 4px;
}
.movies .movie .poster.active {
  opacity: 0;
}
.movies .movie .title {
  color: #fff;
  margin-bottom: 4px;
  font-size: 16px;
}
.movies .movie .info {
  font-size: 11px;
  opacity: .8;
}
.movies .movie .desc {
  display: none;
}

/*--------------------
Detail
--------------------*/
.detail {
  /* background: rgba(0, 0, 0, 0.5); */
  position: absolute;
  background: rgba(28, 28, 28);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: 1; */
  padding: 37px 30px 30px 255px;
  display: none;
}
.detail::before {
  content: '';
  /* background: #fff; */
  /* background: rgba(0, 0, 0, 0.5); */
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}
.detail .close {
  position: absolute;
  top: 21px;
  right: 22px;
  width: 12px;
  height: 12px;
  cursor: pointer;
  /* border: 6px solid #FFF; */
  box-sizing: content-box;
  z-index: 10;
}
.detail .poster {
  position: absolute;
  z-index: 2;
  top: -10%;
  left: -6%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.5s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}
.detail .title,
.detail .info,
.detail .desc,
.detail .play,
.detail .close {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}
.detail .close {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
.detail .title {
  font-size: 35px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 5px;
}
.detail .info {
  font-size: 11px;
  opacity: 0;
  margin-left: 2px;
}
.detail .desc {
  color: #fff;
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.6;
}
.detail .play {
  background: linear-gradient(90deg, rgb(31, 156, 228), rgb(50, 180, 255));
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  padding: 8px 17px;
  margin: 30px 0 0 -2px;
  text-transform: uppercase;
  z-index: 10;
  outline: none !important;
  cursor: pointer;
  opacity: 0;
}
.detail .play svg {
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin-right: 3px;
}

.detail.ready::before {
  opacity: 1;
}
.detail.ready .info {
  opacity: .8;
}
.detail.ready .poster {
  opacity: 1;
  transition-duration: .5s;
}
.detail.ready .title,
.detail.ready .info,
.detail.ready .desc,
.detail.ready .play,
.detail.ready .close {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  transition-delay: 0s;
  transition-duration: .5s;
}
.detail.ready .title {
  transition-delay: .2s;
}
.detail.ready .info {
  transition-delay: .3s;
}
.detail.ready .desc {
  transition-delay: .4s;
}
.detail.ready .play {
  transition-delay: .5s;
}
